/* app css stylesheet */
html {
  height: 100%;
}

/* nav-bar */
.ui-view-nav {
  background-color: #AA8339;
  display: flex;
}
.ui-view-nav .nav-bar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.ui-view-nav .nav-bar-container .nav-bar-header-row {
  display: flex;
}
.ui-view-nav .nav-bar-container .nav-bar-header-row .nav {
  display: flex;
  height: 100%;
  margin: 0;
}
.ui-view-nav .nav-bar-container .nav-bar-header-row .nav li {
  padding: 10px 5px;
}
.ui-view-nav .nav-bar-container .nav-bar-header-row .nav li:hover {
  background-color: #D4B06A;
}

body {
  /*background: url('https://wallpaperscraft.com/image/seattle_united_states_washington_night_85124_2048x1152.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container {
  height: 100%;
  margin: 0 auto;
}

.main {
  clear: both;
  height: 100%;
}
.main .container {
  background-color: #2D4471;
}
.main .container .row {
  height: 100%;
}
.main .container .row .template-view {
  height: 100%;
  display: flex;
}
.main .container .row .template-view .name-and-statement {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  color: #AA8339;
}
.main .container .row .template-view .name-and-statement .name {
  margin: auto;
  font-width: bold;
  font-size: 26px;
}
.main .container .row .template-view .name-and-statement .line {
  margin: auto;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav:after {
  clear: both;
}

.home-bar {
  display: flex;
  justify-content: center;
  min-height: 200px;
  margin-top: 20px;
  border-radius: 5px;
  align-items: center;
  color: white;
  flex-direction: column;
}
.home-bar .icon-bar img {
  width: 75px;
  opacity: 1;
}

img {
  width: 75px;
}

.header-section {
  height: 100%;
  background-color: #2B795D;
}
