/* app css stylesheet */
$main-color: #AA8339;
$main-color-2: #D4B06A;

$complement-color: #2D4471;

html {
  height:100%;
}

.ui-view-nav {
  background-color: $main-color;
  display: flex;

  .nav-bar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .nav-bar-header-row {
      display: flex;

      .nav {
        display: flex;
        height: 100%;
        margin: 0;

        li {
          padding: 10px 5px;
        }

        li:hover {
          background-color: $main-color-2;
        }
      }
    }
  }
}

body {
  /*background: url('https://wallpaperscraft.com/image/seattle_united_states_washington_night_85124_2048x1152.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container {
  height: 100%;
  margin: 0 auto;
}

.main {
  clear:both;
  height:100%;

  .container {
    background-color: $complement-color;
  }
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav:after {
  clear:both;
}

.home-bar {
  display: flex;
  justify-content: center;
  min-height: 200px;
  margin-top: 20px;
  border-radius: 5px;
  align-items: center;
  color: white;
  flex-direction: column;

  .icon-bar img {
    width: 75px;
    opacity: 1;
  }
}

img {
  width: 75px;
}

.header-section {
  height: 100%;
  background-color: #2B795D;
}