<div class="name-and-statement">
  <div class="name">Luyang Gai</div>
  <div class="line">------------</div>
  <div class="main-statement">
    Graduated from the University of Washington with a degree in Computer Science. Have been in the field
    for multiple years and have worked on many different projects with technologies such as Java, Javascript, Angular,
    and many more.
  </div>
</div>
<!--<div class="home-bar">-->
  <!--<div class="icon-bar">-->
    <!--<img class="facebook-icon" src="https://image.freepik.com/free-icon/facebook-logo_318-49940.png">-->
    <!--<img class="github-icon" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">-->
    <!--<img class="linked-in-icon" src="http://www.fontsaddict.com/images/icons/png/14256.png">-->
  <!--</div>-->
<!--</div>-->